name: dev deploy
run-name: ${{ github.actor }} has run the dev-deploy trigger

on:
  push:
    branches:
      - main

jobs:
  dev-deploy:
    uses: ./.github/workflows/reusable/deploy.yml
    with:
      gh-environment: development
    secrets: inherit
